.iconfont {
  font-family: iconfont-preview !important;
  font-size: 30px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.item{
  min-width: 15vw;
}
.content{
  display:flex;
  flex-wrap: wrap;
  width: 100vw;
  /* justify-content: space-around; */
}
.item-content{
  min-width: 15vw;
  margin-right: 12pt;
  margin-bottom: 8pt;
  border: 1px solid #ccc;
  border-radius: 8pt ;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.text{
  /* padding:0 14pt; */
  font-size: 8pt;
  cursor: pointer;
}
.text-left{
  flex: 1;
  text-align: center;
  border-right: 1px solid #ccc;
}
.text-right{
  flex: 1;
  text-align: center;
}
.text-left:hover{
  background-color: #666;
  border-radius: 0pt 0pt 0pt 6pt ;
}
.text-right:hover{
  background-color: #666;
  border-radius: 0pt 0pt 6pt 0pt ;
}